<html>
    <head>
        <title>ToDo List</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>My ToDo list</h1>
        <div id="todo-table">
            <form action="">
                <input type="text" class="text" name="item " placeholder="Add new item..." required/>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for(var i =0;i < todos.length ; i++ ) { %>
                    <li><%=     todos[i].item %></5></li>
                    <% } %>
            </ul>
        </div>
        <script src="/assets/todo-list.js"></script>
    </body>
</html>